@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Glitch&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.div{
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images5.alphacoders.com/593/thumb-1920-593333.jpg);
    z-index: 2;
    flex-direction: column;
    letter-spacing: 2px;
    background-position: center center;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.h1 { 
    font-family: 'Press Start 2P', cursive;  
    font-weight: 600; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center; 
    background-color: #E4E4E1;
    background-image: linear-gradient(120deg, #f6c525 0%, #fda085 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

.h1 h1{
  font-size: 65px;
}
.h1 h2{
  font-size: 20px;
}
.btn {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #330867c5;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    letter-spacing: 0.8px;
    font-family: 'Press Start 2P', cursive; 
}

.btn:focus {
  outline: none;
}

.btn:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    letter-spacing: 3px;
}

.btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}